* {
    box-sizing: border-box;
}

body {
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

.haz {
    background-color: #04AA6D;
    font-size: 15px;
}
.bbeszur{
    margin: 0 auto;
    background-color: #aaaaaa;
    min-width:80%;
    text-align: center;
}

