html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: rgba(150, 206, 250, 0.29);
}
nav.navbar {
    border-top: 4px solid #276cda;
    margin-bottom: 1rem;
}
.navbar-item.brand-text {
    font-weight: 300;
    border-top: 4px solid #276cda;

}
.navbar-item, .navbar-link {
    font-size: 14px;
    font-weight: 700;
}


#cl3{
    background-color:rgba(48,73,208,0.42);
    height: 500px;
}
#9clc{
    width:1100px;
}
#userlista{
    width:1025px;
}
.menu-list {
    color: #05245d;
    font-size: 14px;
    font-weight: 700;
}
.menu-list a {
    color: #0F1D38;
    font-size: 14px;
    font-weight: 700;
}
.menu-list a:hover {
    background-color: #0F1D38;
    color: #276cda;
}
.menu-list a.is-active {
    background-color: transparent;
    color: #276cda;
    font-weight: 700;
}
.card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 2rem;
}
.card-header-title {
    color: #8F99A3;
    font-weight: 400;
}
.info-tiles {
    margin: 1rem 0;
}
.info-tiles .subtitle {
    font-weight: 300;
    color: #8F99A3;
}

.hero.welcome .title, .hero.welcome .subtitle {
    color: hsl(120, 25%, 13%);
}
